In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("2. Cars Data1.csv")

In [4]:
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [30]:
data.shape

(432, 15)

In [5]:
data.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [6]:
data['Model'].unique()

array(['MDX', 'RSX Type S 2dr', 'TSX 4dr', 'TL 4dr', '3.5 RL 4dr',
       '3.5 RL w/Navigation 4dr', 'NSX coupe 2dr manual S', 'A4 1.8T 4dr',
       'A41.8T convertible 2dr', 'A4 3.0 4dr',
       'A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto',
       'A6 3.0 4dr', 'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr',
       'A4 3.0 Quattro convertible 2dr', 'A6 2.7 Turbo Quattro 4dr',
       'A6 4.2 Quattro 4dr', 'A8 L Quattro 4dr', 'S4 Quattro 4dr',
       'RS 6 4dr', 'TT 1.8 convertible 2dr (coupe)',
       'TT 1.8 Quattro 2dr (convertible)',
       'TT 3.2 coupe 2dr (convertible)', 'A6 3.0 Avant Quattro',
       'S4 Avant Quattro', 'X3 3.0i', 'X5 4.4i', '325i 4dr', '325Ci 2dr',
       nan, '325Ci convertible 2dr', '325xi 4dr', '330i 4dr', '330Ci 2dr',
       '330xi 4dr', '525i 4dr', '330Ci convertible 2dr', '530i 4dr',
       '545iA 4dr', '745i 4dr', '745Li 4dr', 'M3 coupe 2dr',
       'M3 convertible 2dr', 'Z4 convertible 2.5i 2dr',
       'Z4 convertible 3.0i 2dr', '325xi Sport', 'Rainier',
       'Rendezvous CX', 'Century Custom 4dr', 'LeSabre Custom 4dr',
       'Regal LS 4dr', 'Regal GS 4dr', 'LeSabre Limited 4dr',
       'Park Avenue 4dr', 'Park Avenue Ultra 4dr', 'Escalade', 'SRX V8',
       'CTS VVT 4dr', 'Deville 4dr', 'Deville DTS 4dr', 'Seville SLS 4dr',
       'XLR convertible 2dr', 'Escalade EXT', 'Suburban 1500 LT',
       'Tahoe LT', 'TrailBlazer LT', 'Tracker', 'Aveo 4dr',
       'Aveo LS 4dr hatch', 'Cavalier 2dr', 'Cavalier 4dr',
       'Cavalier LS 2dr', 'Impala 4dr', 'Malibu 4dr', 'Malibu LS 4dr',
       'Monte Carlo LS 2dr', 'Impala LS 4dr', 'Impala SS 4dr',
       'Malibu LT 4dr', 'Monte Carlo SS 2dr', 'Astro', 'Venture LS',
       'Corvette 2dr', 'Corvette convertible 2dr', 'Avalanche 1500',
       'Colorado Z85', 'Silverado 1500 Regular Cab', 'Silverado SS',
       'SSR', 'Malibu Maxx LS', 'PT Cruiser 4dr',
       'PT Cruiser Limited 4dr', 'Sebring 4dr', 'Sebring Touring 4dr',
       '300M 4dr', 'Concorde LX 4dr', 'Concorde LXi 4dr',
       'PT Cruiser GT 4dr', 'Sebring convertible 2dr',
       '300M Special Edition 4dr', 'Sebring Limited convertible 2dr',
       'Town and Country LX', 'Town and Country Limited', 'Crossfire 2dr',
       'Pacifica', 'Durango SLT', 'Neon SE 4dr', 'Neon SXT 4dr',
       'Intrepid SE 4dr', 'Stratus SXT 4dr', 'Stratus SE 4dr',
       'Intrepid ES 4dr', 'Caravan SE', 'Grand Caravan SXT',
       'Viper SRT-10 convertible 2dr', 'Dakota Regular Cab',
       'Dakota Club Cab', 'Ram 1500 Regular Cab ST', 'Excursion 6.8 XLT',
       'Expedition 4.6 XLT', 'Explorer XLT V6', 'Escape XLS',
       'Focus ZX3 2dr hatch', 'Focus LX 4dr', 'Focus SE 4dr',
       'Focus ZX5 5dr', 'Focus SVT 2dr', 'Taurus LX 4dr',
       'Taurus SES Duratec 4dr', 'Crown Victoria 4dr',
       'Crown Victoria LX 4dr', 'Crown Victoria LX Sport 4dr',
       'Freestar SE', 'Mustang 2dr (convertible)',
       'Mustang GT Premium convertible 2dr',
       'Thunderbird Deluxe convert w/hardtop 2d', 'F-150 Regular Cab XL',
       'F-150 Supercab Lariat', 'Ranger 2.3 XL Regular Cab', 'Focus ZTW',
       'Taurus SE', 'Envoy XUV SLE', 'Yukon 1500 SLE',
       'Yukon XL 2500 SLT', 'Safari SLE', 'Canyon Z85 SL Regular Cab',
       'Sierra Extended Cab 1500', 'Sierra HD 2500', 'Sonoma Crew Cab',
       'Civic Hybrid 4dr manual (gas/electric)',
       'Insight 2dr (gas/electric)', 'Pilot LX', 'CR-V LX', 'Element LX',
       'Civic DX 2dr', 'Civic HX 2dr', 'Civic LX 4dr', 'Accord LX 2dr',
       'Accord EX 2dr', 'Civic EX 4dr', 'Civic Si 2dr hatch',
       'Accord LX V6 4dr', 'Accord EX V6 2dr', 'Odyssey LX', 'Odyssey EX',
       'S2000 convertible 2dr', 'H2', 'Santa Fe GLS', 'Accent 2dr hatch',
       'Accent GL 4dr', 'Accent GT 2dr hatch', 'Elantra GLS 4dr',
       'Elantra GT 4dr', 'Elantra GT 4dr hatch', 'Sonata GLS 4dr',
       'Sonata LX 4dr', 'XG350 4dr', 'XG350 L 4dr', 'Tiburon GT V6 2dr',
       'G35 4dr', 'G35 Sport Coupe 2dr', 'I35 4dr', 'M45 4dr',
       'Q45 Luxury 4dr', 'FX35', 'FX45', 'Ascender S', 'Rodeo S',
       'X-Type 2.5 4dr', 'X-Type 3.0 4dr', 'S-Type 3.0 4dr',
       'S-Type 4.2 4dr', 'S-Type R 4dr', 'Vanden Plas 4dr', 'XJ8 4dr',
       'XJR 4dr', 'XK8 coupe 2dr', 'XK8 convertible 2dr', 'XKR coupe 2dr',
       'XKR convertible 2dr', 'Grand Cherokee Laredo', 'Liberty Sport',
       'Wrangler Sahara convertible 2dr', 'Sorento LX', 'Optima LX 4dr',
       'Rio 4dr manual', 'Rio 4dr auto', 'Spectra 4dr',
       'Spectra GS 4dr hatch', 'Spectra GSX 4dr hatch',
       'Optima LX V6 4dr', 'Amanti 4dr', 'Sedona LX', 'Rio Cinco',
       'Range Rover HSE', 'Discovery SE', 'Freelander SE', 'GX 470',
       'LX 470', 'RX 330', 'ES 330 4dr', 'IS 300 4dr manual',
       'IS 300 4dr auto', 'GS 300 4dr', 'GS 430 4dr', 'LS 430 4dr',
       'SC 430 convertible 2dr', 'IS 300 SportCross', 'Navigator Luxury',
       'Aviator Ultimate', 'LS V6 Luxury 4dr', 'LS V6 Premium 4dr',
       'LS V8 Sport 4dr', 'LS V8 Ultimate 4dr', 'Town Car Signature 4dr',
       'Town Car Ultimate 4dr', 'Town Car Ultimate L 4dr', 'Cooper',
       'Cooper S', 'Tribute DX 2.0', 'Mazda3 i 4dr', 'Mazda3 s 4dr',
       'Mazda6 i 4dr', 'MPV ES', 'MX-5 Miata convertible 2dr',
       'MX-5 Miata LS convertible 2dr', 'RX-8 4dr automatic',
       'RX-8 4dr manual', 'B2300 SX Regular Cab', 'B4000 SE Cab Plus',
       'G500', 'ML500', 'C230 Sport 2dr', 'C320 Sport 2dr', 'C240 4dr',
       'C320 Sport 4dr', 'C320 4dr', 'C32 AMG 4dr', 'CL500 2dr',
       'CL600 2dr', 'CLK320 coupe 2dr (convertible)',
       'CLK500 coupe 2dr (convertible)', 'E320 4dr', 'E500 4dr',
       'S430 4dr', 'S500 4dr', 'SL500 convertible 2dr', 'SL55 AMG 2dr',
       'SL600 convertible 2dr', 'SLK230 convertible 2dr', 'SLK32 AMG 2dr',
       'C240', 'E320', 'E500', 'Mountaineer', 'Sable GS 4dr',
       'Grand Marquis GS 4dr', 'Grand Marquis LS Premium 4dr',
       'Sable LS Premium 4dr', 'Grand Marquis LS Ultimate 4dr',
       'Marauder 4dr', 'Monterey Luxury', 'Sable GS', 'Endeavor XLS',
       'Montero XLS', 'Outlander LS', 'Lancer ES 4dr', 'Lancer LS 4dr',
       'Galant ES 2.4L 4dr', 'Lancer OZ Rally 4dr auto',
       'Diamante LS 4dr', 'Galant GTS 4dr', 'Eclipse GTS 2dr',
       'Eclipse Spyder GT convertible 2dr', 'Lancer Evolution 4dr',
       'Lancer Sportback LS', 'Pathfinder Armada SE', 'Pathfinder SE',
       'Xterra XE V6', 'Sentra 1.8 4dr', 'Sentra 1.8 S 4dr',
       'Altima S 4dr', 'Sentra SE-R 4dr', 'Altima SE 4dr',
       'Maxima SE 4dr', 'Maxima SL 4dr', 'Quest S', 'Quest SE',
       '350Z coupe 2dr', '350Z Enthusiast convertible 2dr',
       'Frontier King Cab XE V6', 'Titan King Cab XE', 'Murano SL',
       'Alero GX 2dr', 'Alero GLS 2dr', 'Silhouette GL', 'Aztekt',
       'Sunfire 1SA 2dr', 'Grand Am GT 2dr', 'Grand Prix GT1 4dr',
       'Sunfire 1SC 2dr', 'Grand Prix GT2 4dr', 'Bonneville GXP 4dr',
       'Montana', 'Montana EWB', 'GTO 2dr', 'Vibe', 'Cayenne S',
       '911 Carrera convertible 2dr (coupe)',
       '911 Carrera 4S coupe 2dr (convert)', '911 Targa coupe 2dr',
       '911 GT2 2dr', 'Boxster convertible 2dr',
       'Boxster S convertible 2dr', '9-3 Arc Sport 4dr', '9-3 Aero 4dr',
       '9-5 Arc 4dr', '9-5 Aero 4dr', '9-3 Arc convertible 2dr',
       '9-3 Aero convertible 2dr', '9-5 Aero', 'VUE', 'Ion1 4dr',
       'lon2 4dr', 'lon3 4dr', 'lon2 quad coupe 2dr',
       'lon3 quad coupe 2dr', 'L300-2 4dr', 'L300 2', 'xA 4dr hatch',
       'xB', 'Impreza 2.5 RS 4dr', 'Legacy L 4dr', 'Legacy GT 4dr',
       'Outback Limited Sedan 4dr', 'Outback H6 4dr',
       'Outback H-6 VDC 4dr', 'Impreza WRX 4dr', 'Impreza WRX STi 4dr',
       'Baja', 'Forester X', 'Outback', 'XL-7 EX', 'Vitara LX',
       'Aeno S 4dr', 'Aerio LX 4dr', 'Forenza S 4dr', 'Forenza EX 4dr',
       'Verona LX 4dr', 'Aerio SX', 'Prius 4dr (gas/electric)',
       'Sequoia SR5', '4Runner SR5 V6', 'Highlander V6', 'Land Cruiser',
       'RAV4', 'Corolla CE 4dr', 'Corolla S 4dr', 'Corolla LE 4dr',
       'Echo 2dr manual', 'Echo 2dr auto', 'Echo 4dr', 'Camry LE 4dr',
       'Camry LE V6 4dr', 'Camry Solara SE 2dr', 'Camry Solara SE V6 2dr',
       'Avalon XL 4dr', 'Camry XLE V6 4dr', 'Camry Solara SLE V6 2dr',
       'Avalon XLS 4dr', 'Sienna CE', 'Sienna XLE Limited',
       'Celica GT-S 2dr', 'MR2 Spyder convertible 2dr', 'Tacoma',
       'Tundra Regular Cab V6', 'Tundra Access Cab V6 SR5', 'Matrix XR',
       'Touareg V6', 'Golf GLS 4dr', 'GTI 1.8T 2dr hatch',
       'Jetta GLS TDI 4dr', 'New Beetle GLS 1.8T 2dr',
       'Jetta GLI VR6 4dr', 'New Beetle GLS convertible 2dr',
       'Passat GLS 4dr', 'Passat GLX V6 4MOTION 4dr',
       'Passat W8 4MOTION 4dr', 'Phaeton 4dr', 'Phaeton W12 4dr',
       'Jetta GL', 'Passat GLS 1.8T', 'Passat W8', 'XC90 T6', 'S40 4dr',
       'S60 2.5 4dr', 'S60 T5 4dr', 'S60 R 4dr', 'S80 2.9 4dr',
       'S80 2.5T 4dr', 'C70 LPT convertible 2dr',
       'C70 HPT convertible 2dr', 'S80 T6 4dr', 'V40', 'XC70'],
      dtype=object)

In [7]:
data.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [8]:
data.index

RangeIndex(start=0, stop=432, step=1)

In [9]:
data['Model'].value_counts()

G35 4dr                                    2
C320 4dr                                   2
C240 4dr                                   2
MDX                                        1
Marauder 4dr                               1
                                          ..
Ranger 2.3 XL Regular Cab                  1
F-150 Supercab Lariat                      1
F-150 Regular Cab XL                       1
Thunderbird Deluxe convert w/hardtop 2d    1
XC70                                       1
Name: Model, Length: 425, dtype: int64

In [36]:
#data.head()
data['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

In [18]:
data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [26]:
x=data['Cylinders'].fillna(data['Cylinders'].mean(),inplace=True)

In [27]:
print(x)

None

In [28]:
data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [32]:
data.dropna(inplace=True)

In [34]:
data.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [37]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [42]:
data[(data['Origin']=='Asia')&(data['Origin']=="Europe")]

Empty DataFrame
Columns: [Make, Model, Type, Origin, DriveTrain, MSRP, Invoice, EngineSize, Cylinders, Horsepower, MPG_City, MPG_Highway, Weight, Wheelbase, Length]
Index: []

In [41]:
data[data['Origin'].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [43]:
#drop rows with weght>4000
data[-(data['Weight']>4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [46]:
data.head(1)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0

In [47]:
data['MPG_City']=data['MPG_City'].apply(lambda x:x+3)

In [48]:
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0